/* Write your CSS code here */
nav {
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.wave-img {
  width: 40px;
  margin-right: 10px;
}
.wave-logo {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #551e53;
  margin-right: 20px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .wave-img {
    width: 24px;
  }
  .wave-logo {
    font-size: 18px;
    margin-right: 10px;
  }
}
